html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
v-grid td.v-grid-cell * {
    pointer-events: none;
}
#inbox-grid {
    width: 100%;
    height: 100%;

    td.v-grid-cell {
        border-left: none !important;
        border-right: none !important;
        padding: 12px !important;
    }

    .v-grid-row-stripe:not(.v-grid-row-selected) > td {
        background: #fff;
    }

    .from,
    .subject {
        font-size: 75%;
        display: block;
        line-height: 1.2em;

        .unread & {
            font-weight: bold;
        }
    }
    .from {
        text-transform: capitalize;
        margin-top: 0.3em;
        font-size: 80%;
        font-weight: bold;
    }
    .from-photo {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .subject {
        font-size: 75%;
    }
    .sent-date {
        display: block;
        font-size: 70%;
    }
    .star {
        font-size: 140%;
        display: block;
        text-align: center;
        color: #cdcdcd;

        &.star-on {
            color: #fec730;
        }
    }
}

#top-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    background: #00b4f0;
    color: #fff;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 160%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
#top-button:focus,
#top-button:active {
    outline: none;
}
